.destaque {
  background: url(../../../assets/imagens/destaque.jpg) center bottom repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  height: 330px;
  padding-top: 10em;

  p {
    width: 30em;

    &:first-child {
      width: 30em;
      font-size: 1.3em;
      line-height: 1.1;
    }

    &:first-child:first-line {
      font-size: 2.2em;
      font-weight: bold;
    }
  }

  button {
    margin-top: 1em;
    background: #fe9b00;
    border: 0;
    padding: .6em;
    font-size: 1.2em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: white;
  }

}
