<section class="destaque">
    <div class="container">
        <p>
            Aplicativos sob medida, para pequenas e médias empresas
        </p>

        <p>
            A Apeperia é o jeito inovador de se comprar apps, você assina um plano, nós criamos os apps e fazemos toda a manutenção!
        </p>

        <button>
            Conheça nossos planos
        </button>
    </div>
</section>
