<section class="contato">
    <div class="container">
        <h2 class="titulo-secao">Contato</h2>
        <form action="">
            <input type="text" placeholder="Digite seu Nome">
            <input type="text" placeholder="Digite seu Email">
            <input type="text" placeholder="Digite seu Assunto">

            <textarea cols="30" rows="10" placeholder="Mensagem...."></textarea>

            <button>Enviar</button>
        </form>
    </div>
</section>