<section class="sobre">
  <div class="container">
    <h2 class="titulo-secao">Sobre</h2>
    <div class="duas-colunas">
      <h3>O que fazemos</h3>

      <p>No Apeperia, nós criamos aplicativos personalizados de uma maneira diferente, preocupados com o modelo atual em
        que um aplicativo é criado entregue e a manutenção é vista como um custo extra para o cliente, decidimos criar
        um novo modelo de negocios, em que você assina nosso serviço, nós criamos o aplicativo e a manutenção já é
        inclusa no serviço, dessa maneira você não se preocupa em ter o app sempre na versão mais atualizada.</p>

      <p>Com equipes especializadas, equipes exclusivas para projetos especiais agora é a hora da sua empresa ter o
        próprio aplicativo com qualidade.</p>

      <h3>Múltiplas plataformas</h3>

      <p>Na Apeperia não temos preconceito com nenuma plataforma, fazemos apps fantásticos para qualquer device!</p>

      <p>Não importa se você quer um app para iOS, Android, Windows Phone ou Blackberry. Nós sabemos fazer!</p>

      <ul class="plataformas">
        <li *ngFor="let item of plataformas">{{item}}</li>
      </ul>
    </div>
  </div>
</section>
