<footer>
  <div class="container">
    <nav class="menu-rodape">
      <ul>
        <li><a [routerLink]="'sobre'">sobre</a></li>
        <li><a [routerLink]="['']">planos</a></li>
        <li><a [routerLink]="'blog'">Blog</a></li>
        <li><a [routerLink]="'contato'">Contato</a></li>
      </ul>
    </nav>
    <ul class="social">
      <li><a href="http://www.facebook.com">Facebook</a></li>
      <li><a href="http://www.twitter.com">Twitter</a></li>
      <li><a href="http://www.instagram.com">Instagram</a></li>
    </ul>
  </div>
</footer>