footer {
    margin-top: 10px;
    display: block;
    position: relative;
  }
  
  footer::after {
    content: "";
    background: url(../../../assets/imagens/fundo-rodape.png);
    opacity: .02;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  
  footer::before {
    content: "";
    background: linear-gradient(to bottom right, #9999ff, #3333ff);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  
  footer .container {
    padding-top: 3em;
    height: 6.5em;
    position: relative;
  }
  
  footer .container img {
    width: 250px;
  }
  
  .menu-rodape,
  .social {
    position: absolute;
  }
  
  .menu-rodape ul li {
    display: inline-block;
    margin-left: 2em;
  }
  
  .menu-rodape {
    top: 1em;
    right: 0;
  }
  
  .social {
    bottom: 0;
    right: 0;
  }
  
  .menu-rodape li,
  .social li {
    display: inline;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .social li {
    float: left;
  }
  
  .social li a {
    display: block;
    width: 55px;
    height: 55px;
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
    margin-left: 1em;
  }
  
  .social a {
    background-position: top;
    background-size: 50px 50px;
  }
  
  .social a[href*="facebook"] {
    background-image: url(../../../assets/imagens/facebook.png);
  }
  
  .social a[href*="twitter"] {
    background-image: url(../../../assets/imagens/twitter.png);
  }
  
  .social a[href*="instagram"] {
    background-image: url(../../../assets/imagens/instagram.png);
  }
