<header>
  <div class="container">
    <h1>
      <img src="../../../assets/imagens/logo.png" alt="Logotipo Apeperia">
    </h1> 
    <nav class="menu-opcoes">
      <ul>
        <li><a [routerLink]="'sobre'">sobre</a></li>
        <li><a [routerLink]="['']">planos</a></li>
        <li><a [routerLink]="'blog'">Blog</a></li>
        <li><a [routerLink]="'contato'">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>