header {
  border-top: 5px solid #fe9b00;
  background: linear-gradient(to bottom right, #9999ff, #3333ff);
  height: 90px;
  width: 100%;
  position: absolute;
  opacity: 0.8;

  .container {
    position: relative;

    .menu-opcoes {
      position: absolute;
      right: 0;
      top: -.5em;
      font-size: 1.2em;
      font-weight: lighter;

      ul {
        padding-left: 0;
      }

      li {
        display: inline-block;
        width: 5em;
      }

      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}