<section class="planos">
  <div class="container">
    <h2 class="titulo-secao">Planos</h2>

    <div *ngFor="let plano of planos" class="plano">
      <h3>{{plano.tipo}}</h3>
      <div>R$ {{plano.valor | number:'1.2-2':'pt'}}</div>
      <ul class="itens-plano">
        <li *ngFor="let servico of plano.servicos">{{servico.tipo}}
          <span
            [ngClass]="{'icone-x':!servico.Ativo, 'icone-check':servico.Ativo && servico.Quantidade == 0}">
            {{servico.Quantidade != 0 ? servico.Quantidade: ''}}</span>
        </li>
      </ul>
      <button class="btn-padrao">Comprar</button>
    </div>
  </div>
</section>