@import '../../assets/variaveis.scss';
@import '../../assets/mixin.scss';

.planos {
  background: $corFundoPlanos;

  .h2 {
    color: $corTitulo;
  }

  .plano {
    background: $corTitulo;
    width: 18em;
    display: inline-block;
    margin: 1em 0 0 1.1em;
    padding-bottom: 2em;

    &:hover {
      background: #f9f9f9;
    }

    h3 {
      color: $corTitulo;
      font-size: 1.8em;
      background: $corPadrao;
      text-align: center;
      height: 2em;
      padding-top: .6em;
      margin-top: 0;
    }

    div {
      text-align: center;
      color: $corPadrao;
      font-size: 2.75em;
    }

    .itens-plano {
      padding-left: 1.2em;

      li {
        font-size: 1em;
        list-style: none;
        border-bottom: 1px solid #acacac;
        padding: .5em;
        width: 14.8em;

        &:last-child {
          border: 0;
        }

        span {
          float: right;
        }
      }
    }

    button {
      background: $corPadrao;
      border: 0;
      color: #fff;
      width: 210px;
      height: 38px;
      font-size: 1.2em;
      @include bordas();
      box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
      margin-left: 2em;
    }

    .icone-check,
    .icone-x {
      background: url(../../assets/imagens/sprite.png) no-repeat;
      width: 18px;
      height: 18px;
    }

    .icone-check {
      background-position: -5px -5px;
    }

    .icone-x {
      background-position: -33px -5px;
    }
  }
}
