<section class="blog">
    <div class="container">
        <h2 class="titulo-secao">Blog</h2>
        <section class="post-destaque">
            <article>
                <img src="../../assets/imagens/foto-post.jpg" alt="">
                <h3>iOS ou Android?</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus soluta fugiat officia consectetur quas rem ducimus recusandae repellat quaerat dignissimos nam iure, voluptatem ex atque pariatur molestiae maiores, ea nulla!
                </p>
            </article>
        </section>
        <section class="posts-antigos">
            <a href="#">Postagens antigas</a>
            <article>
                <h3>Resoluções de iPhones</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt architecto libero officia ut molestias culpa velit consequuntur quae.</p>
            </article>
            <article>
                <h3>Blackberry morreu?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt architecto libero officia ut molestias culpa velit consequuntur quae.</p>
            </article>
            <article>
                <h3>Nokia + Microsoft = 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt architecto libero officia ut molestias culpa velit consequuntur quae.</p>
            </article>
        </section>
    </div>
</section>
