.blog {
  display: block;
  position: relative;

  &::after {
    content: "";
    background: url(../../assets/imagens/fundo.png);
    background-size: 25px 25px;
    opacity: .15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  &::after {
    content: "";
    background: url(../../assets/imagens/fundo.png);
    background-size: 25px 25px;
    opacity: .15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .post-destaque,
  .posts-antigos {
    width: 48%;
    display: inline-block;
    vertical-align: top;
  }

}



.post-destaque {
  margin-right: 2em;
}

.post-destaque img {
  width: 100%;
}

.posts-antigos a {
  text-decoration: none;
  color: black;
  background: url(../../assets/imagens/icone-relogio.png) left center no-repeat;
  padding-left: 2.5em;
  height: 1.7em;
  display: block;

  &:hover {
    text-decoration: underline;
  }
}
